<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'error404.css' %}" />
<body>
    <div class="container">
        <h1 class="text">404 Page Not Found</h1>
        <h2 class="text">Invalid Location</h2>
        <a class="text" href="/dashboard">Go Back!</a>
    </div>
    <div>
        <img src="static/image/python_api_app_404.jpg" width="" alt="">
    </div>
</body>
</html>
    